<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../../static/stylesheet.css">
		<link rel="icon" href="../../static/img/sax.png" type="image/x-icon">
		<style>@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')</style>
		<title>TuneVault | ÷</title>
	</head>
		
	<body>
		<nav style="font-family: Arial, Helvetica, sans-serif;">
					<a id="clicktohome" href="../home.html"><img src="../../static/img/sax_tv.png" alt="Site logo" style="height: 100px; margin-left: 50px;"></a>
        	    	<ul style="width: 60%; float: right; margin-right: 50px; text-align: center; margin-top: 20px; font-family: Courier Prime, Arial;">
        		        <li><a href="../home.html">Home</a></li>
        		        <li><a href="../artists.html">Artists</a></li>
        		        <li><a href="../search.html">Search</a></li>
        		        <li><a href="../spotlight.html">Spotlight</a></li>
       			        <li><a href="../playlist.html">Playlist</a></li>
                		<li><a href="../about.html">About Us</a></li>
            		</ul>
        	</nav>
				
		<div class="artistpage">
		<img class="cover" src="../../static/img/divc.png" style="filter: brightness(15%)">
		<div class="artistpageTitle">÷</div>
		<div class="artistName">Ed Sheeran</div>
		<div class="albumName">÷</div>
		<div class="imglink">../../static/img/div.jpg</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Eraser</div>
			<div class="time">3:47</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Eraser">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Castle on the Hill</div>
			<div class="time">4:21</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Castle on the Hill">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Dive</div>
			<div class="time">3:58</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Dive">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Shape of You</div>
			<div class="time">3:53</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Shape of You">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Perfect</div>
			<div class="time">4:23</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Perfect">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Galway Girl</div>
			<div class="time">2:50</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Galway Girl">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Happier</div>
			<div class="time">3:27</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Happier">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">New Man</div>
			<div class="time">3:09</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="New Man">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Hearts Don't Break Around Here</div>
			<div class="time">4:08</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Hearts Don't Break Around Here">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">What Do I Know?</div>
			<div class="time">3:57</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="What Do I Know?">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Supermarket Flowers</div>
			<div class="time">3:41</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Supermarket Flowers">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">How Would You Feel (Paean)</div>
			<div class="time">4:40</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="How Would You Feel (Paean)">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
					
		<script src="typeffect.js"></script>
	<script src="../../static/nav.js"></script>
	<script src="../../static/songs.js"></script>
</body>
	
	<p>&nbsp</p>
	<p>&nbsp</p>
		
	<footer>
            <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp; |&emsp; TuneVault &emsp;|&emsp; All rights reserved &emsp;|&emsp; <a href="../about.html" style="margin-bottom: 0%;">About us</a></span>
        </footer>
</html>
