<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../../static/stylesheet.css">
		<link rel="icon" href="../../static/img/sax.png" type="image/x-icon">
		<style>@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')</style>
		<title>TuneVault | =</title>
	</head>
		
	<body>
		<nav style="font-family: Arial, Helvetica, sans-serif;">
					<a id="clicktohome" href="../home.html"><img src="../../static/img/sax_tv.png" alt="Site logo" style="height: 100px; margin-left: 50px;"></a>
        	    	<ul style="width: 60%; float: right; margin-right: 50px; text-align: center; margin-top: 20px; font-family: Courier Prime, Arial;">
        		        <li><a href="../home.html">Home</a></li>
        		        <li><a href="../artists.html">Artists</a></li>
        		        <li><a href="../search.html">Search</a></li>
        		        <li><a href="../spotlight.html">Spotlight</a></li>
       			        <li><a href="../playlist.html">Playlist</a></li>
                		<li><a href="../about.html">About Us</a></li>
            		</ul>
        	</nav>
				
		<div class="artistpage">
		<img class="cover" src="../../static/img/eqc.png" style="filter: brightness(15%)">
		<div class="artistpageTitle">=</div>
		<div class="artistName">Ed Sheeran</div>
		<div class="albumName">=</div>
		<div class="imglink">../../static/img/eq.jpg</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Tides</div>
			<div class="time">3:15</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Tides">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Shivers</div>
			<div class="time">3:27</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Shivers">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">First Times</div>
			<div class="time">3:05</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="First Times">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Bad Habits</div>
			<div class="time">3:51</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Bad Habits">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Overpass Graffiti</div>
			<div class="time">3:56</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Overpass Graffiti">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">The Joker and the Queen</div>
			<div class="time">3:05</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="The Joker and the Queen">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Leave Your Life</div>
			<div class="time">3:43</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Leave Your Life">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Collide</div>
			<div class="time">3:30</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Collide">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">2Step</div>
			<div class="time">2:33</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="2Step">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Stop the Rain</div>
			<div class="time">3:23</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Stop the Rain">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Love in Slow Motion</div>
			<div class="time">3:10</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Love in Slow Motion">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Visiting Hours</div>
			<div class="time">3:35</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Visiting Hours">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Sandman</div>
			<div class="time">4:19</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Sandman">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Be Right Now</div>
			<div class="time">3:31</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Be Right Now">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
					
		<script src="typeffect.js"></script>
	<script src="../../static/nav.js"></script>
	<script src="../../static/songs.js"></script>
</body>
	
	<p>&nbsp</p>
	<p>&nbsp</p>
		
	<footer>
            <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp; |&emsp; TuneVault &emsp;|&emsp; All rights reserved &emsp;|&emsp; <a href="../about.html" style="margin-bottom: 0%;">About us</a></span>
        </footer>
</html>
