<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../../static/stylesheet.css">
		<link rel="icon" href="../../static/img/sax.png" type="image/x-icon">
		<style>@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')</style>
		<title>TuneVault | x</title>
	</head>
		
	<body>
		<nav style="font-family: Arial, Helvetica, sans-serif;">
					<a id="clicktohome" href="../home.html"><img src="../../static/img/sax_tv.png" alt="Site logo" style="height: 100px; margin-left: 50px;"></a>
        	    	<ul style="width: 60%; float: right; margin-right: 50px; text-align: center; margin-top: 20px; font-family: Courier Prime, Arial;">
        		        <li><a href="../home.html">Home</a></li>
        		        <li><a href="../artists.html">Artists</a></li>
        		        <li><a href="../search.html">Search</a></li>
        		        <li><a href="../spotlight.html">Spotlight</a></li>
       			        <li><a href="../playlist.html">Playlist</a></li>
                		<li><a href="../about.html">About Us</a></li>
            		</ul>
        	</nav>
				
		<div class="artistpage">
		<img class="cover" src="../../static/img/mulc.png" style="filter: brightness(25%)">
		<div class="artistpageTitle">X</div>
		<div class="artistName">Ed Sheeran</div>
		<div class="albumName">X</div>
		<div class="imglink">../../static/img/x.jpg</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">One</div>
			<div class="time">4:12</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="One">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">I'm a Mess</div>
			<div class="time">4:04</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="I'm a Mess">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Sing</div>
			<div class="time">3:55</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Sing">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Don't</div>
			<div class="time">3:39</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Don't">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Nina</div>
			<div class="time">3:45</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Nina">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Photograph</div>
			<div class="time">4:19</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Photograph">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Bloodstream</div>
			<div class="time">5:00</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Bloodstream">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Tenerife Sea</div>
			<div class="time">4:01</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Tenerife Sea">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Runaway</div>
			<div class="time">3:25</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Runaway">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">The Man</div>
			<div class="time">4:10</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="The Man">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Thinking Out Loud</div>
			<div class="time">4:41</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Thinking Out Loud">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Afire Love</div>
			<div class="time">5:14</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Afire Love">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
					
		<script src="typeffect.js"></script>
	<script src="../../static/nav.js"></script>
	<script src="../../static/songs.js"></script>
</body>
	
	<p>&nbsp</p>
	<p>&nbsp</p>
		
	<footer>
            <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp; |&emsp; TuneVault &emsp;|&emsp; All rights reserved &emsp;|&emsp; <a href="../about.html" style="margin-bottom: 0%;">About us</a></span>
        </footer>
</html>
