<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../../static/stylesheet.css">
		<link rel="icon" href="../../static/img/sax.png" type="image/x-icon">
		<style>@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')</style>
		<title>TuneVault | Houses of the Holy</title>
	</head>
		
	<body>
		<nav style="font-family: Arial, Helvetica, sans-serif;">
					<a id="clicktohome" href="../home.html"><img src="../../static/img/sax_tv.png" alt="Site logo" style="height: 100px; margin-left: 50px;"></a>
        	    	<ul style="width: 60%; float: right; margin-right: 50px; text-align: center; margin-top: 20px; font-family: Courier Prime, Arial;">
        		        <li><a href="../home.html">Home</a></li>
        		        <li><a href="../artists.html">Artists</a></li>
        		        <li><a href="../search.html">Search</a></li>
        		        <li><a href="../spotlight.html">Spotlight</a></li>
       			        <li><a href="../playlist.html">Playlist</a></li>
                		<li><a href="../about.html">About Us</a></li>
            		</ul>
        	</nav>
		
		<div class="artistpage">
		<img class="cover" src="../../static/img/hc.png" style="filter: brightness(25%)">
		<div class="artistpageTitle">HOUSES </br>OF THE HOLY</div>
		<div class="artistName">Led Zeppelin</div>
		<div class="albumName">Houses of the Holy</div>
		<div class="imglink">../../static/img/hoth.jpg</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">The Song Remains the Same</div>
			<div class="time">5:32</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="The Song Remains the Same">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">The Rain Song</div>
			<div class="time">7:39</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="The Rain Song">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Over the Hills and Far Away</div>
			<div class="time">4:50</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Over the Hills and Far Away">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">The Crunge</div>
			<div class="time">3:17</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="The Crunge">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Dancing Days</div>
			<div class="time">3:43</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Dancing Days">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">D'yer Maker</div>
			<div class="time">4:23</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="D'yer Maker">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">No Quarter</div>
			<div class="time">7:00</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="No Quarter">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">The Ocean</div>
			<div class="time">4:31</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="The Ocean">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
					
		<script src="../../static/typeffect.js"></script>
	<script src="../../static/nav.js"></script>
	<script src="../../static/songs.js"></script>
</body>
	
	<p>&nbsp</p>
	<p>&nbsp</p>
		
	<footer>
            <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp; |&emsp; TuneVault &emsp;|&emsp; All rights reserved &emsp;|&emsp; <a href="../about.html" style="margin-bottom: 0%;">About us</a></span>
        </footer>
</html>
