<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../../static/stylesheet.css">
		<link rel="icon" href="../../static/img/sax.png" type="image/x-icon">
		<style>@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')</style>
		<title>TuneVault | Led Zeppelin</title>
	</head>
		
	<body>
		<nav style="font-family: Arial, Helvetica, sans-serif;">
					<a id="clicktohome" href="../../static/home.html"><img src="../../static/img/sax_tv.png" alt="Site logo" style="height: 100px; margin-left: 50px;"></a>
        	    	<ul style="width: 60%; float: right; margin-right: 50px; text-align: center; margin-top: 20px; font-family: Courier Prime, Arial;">
        		        <li><a href="../home.html">Home</a></li>
        		        <li><a href="../artists.html">Artists</a></li>
        		        <li><a href="../search.html">Search</a></li>
        		        <li><a href="../spotlight.html">Spotlight</a></li>
       			        <li><a href="../playlist.html">Playlist</a></li>
                		<li><a href="../about.html">About Us</a></li>
            		</ul>
        	</nav>
		
		<div class="artistpage">
		<img class="cover" src="../../static/img/lzc.png" style="filter: brightness(40%)">
		<div class="artistpageTitle">LED<br>ZEPPELIN</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="box">
			<img class="pic" src="../../static/img/lz.jpg" align="left">
			<a href="lz.html">Led Zeppelin </a>
			<div class="year">1969</div>
			<div class="num">9</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="box">
			<img class="pic" src="../../static/img/lz2.jpg" align="left">
			<a href="lz2.html">Led Zeppelin II</a>
			<div class="year">1969</div>
			<div class="num">9</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="box">
			<img class="pic" src="../../static/img/lz3.jpg" align="left">
			<a href="lz3.html">Led Zeppelin III</a>
			<div class="year">1970</div>
			<div class="num">10</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="box">
			<img class="pic" src="../../static/img/lz4.jpg" align="left">
			<a href="lz4.html">Led Zeppelin IV</a>
			<div class="year">1970</div>
			<div class="num">8</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="box">
			<img class="pic" src="../../static/img/hoth.jpg" align="left">
			<a href="hoth.html">Houses of the Holy</a>
			<div class="year">1973</div>
			<div class="num">8</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="box">
			<img class="pic" src="../../static/img/presence.jpg" align="left">
			<a href="presence.html">Presence</a>
			<div class="year">1976</div>
			<div class="num">7</div>
		</div>
		
		<p>&nbsp</p>
		
			
		<script src="typeffect.js"></script>
	<script src="../../static/nav.js"></script>
</body>
	
	<p>&nbsp</p>
	<p>&nbsp</p>
		
	<footer>
            <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp; |&emsp; TuneVault &emsp;|&emsp; All rights reserved &emsp;|&emsp; <a href="../about.html" style="margin-bottom: 0%;">About us</a></span>
        </footer>
</html>
