<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../../static/stylesheet.css">
		<link rel="icon" href="../../static/img/sax.png" type="image/x-icon">
		<style>@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')</style>
		<title>TuneVault | Led Zeppelin IV</title>
	</head>
		
	<body>
		<nav style="font-family: Arial, Helvetica, sans-serif;">
					<a id="clicktohome" href="../home.html"><img src="../../static/img/sax_tv.png" alt="Site logo" style="height: 100px; margin-left: 50px;"></a>
        	    	<ul style="width: 60%; float: right; margin-right: 50px; text-align: center; margin-top: 20px; font-family: Courier Prime, Arial;">
        		        <li><a href="../home.html">Home</a></li>
        		        <li><a href="../artists.html">Artists</a></li>
        		        <li><a href="../search.html">Search</a></li>
        		        <li><a href="../spotlight.html">Spotlight</a></li>
       			        <li><a href="../playlist.html">Playlist</a></li>
                		<li><a href="../about.html">About Us</a></li>
            		</ul>
        	</nav>
		
		<div class="artistpage">
		<img class="cover" src="../../static/img/lz4c.png" style="filter: brightness(20%)">
		<div class="artistpageTitle">LED ZEPPELIN IV</div>
		<div class="artistName">Led Zeppelin</div>
		<div class="albumName">Led Zeppelin IV</div>
		<div class="imglink">../../static/img/lz4.jpg</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Black Dog</div>
			<div class="time">4:55</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Black Dog">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Rock and Roll</div>
			<div class="time">3:40</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Rock and Roll">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">The Battle of Evermore</div>
			<div class="time">5:38</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="The Battle of Evermore">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Stairway to Heaven</div>
			<div class="time">7:55</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Stairway to Heaven">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Misty Mountains Hop</div>
			<div class="time">4:39</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Misty Mountains Hop">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Four Sticks</div>
			<div class="time">4:49</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Four Sticks">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Going to California</div>
			<div class="time">3:36</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Going to California">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">When the Levee Breaks</div>
			<div class="time">7:08</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="When the Levee Breaks">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
					
		<script src="../../static/typeffect.js"></script>
	<script src="../../static/nav.js"></script>
	<script src="../../static/songs.js"></script>
</body>
	
	<p>&nbsp</p>
	<p>&nbsp</p>
		
	<footer>
            <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp; |&emsp; TuneVault &emsp;|&emsp; All rights reserved &emsp;|&emsp; <a href="../about.html" style="margin-bottom: 0%;">About us</a></span>
        </footer>
</html>
