<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../../static/stylesheet.css">
		<link rel="icon" href="../../static/img/sax.png" type="image/x-icon">
		<style>@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')</style>
		<title>TuneVault | Presence</title>
	</head>
		
	<body>
		<nav style="font-family: Arial, Helvetica, sans-serif;">
					<a id="clicktohome" href="../home.html"><img src="../../static/img/sax_tv.png" alt="Site logo" style="height: 100px; margin-left: 50px;"></a>
        	    	<ul style="width: 60%; float: right; margin-right: 50px; text-align: center; margin-top: 20px; font-family: Courier Prime, Arial;">
        		        <li><a href="../home.html">Home</a></li>
        		        <li><a href="../artists.html">Artists</a></li>
        		        <li><a href="../search.html">Search</a></li>
        		        <li><a href="../spotlight.html">Spotlight</a></li>
       			        <li><a href="../playlist.html">Playlist</a></li>
                		<li><a href="../about.html">About Us</a></li>
            		</ul>
        	</nav>
		
		<div class="artistpage">
		<img class="cover" src="../../static/img/prec.png" style="filter: brightness(20%)">
		<div class="artistpageTitle">PRESENCE</div>
		<div class="artistName">Led Zeppelin</div>
		<div class="albumName">Presence</div>
		<div class="imglink">../../static/img/presence.jpg</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Achilles Last Stand</div>
			<div class="time">10:26</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Achilles Last Stand">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">For Your Life</div>
			<div class="time">6:21</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="For Your Life">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Royal Orleans</div>
			<div class="time">2:58</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Royal Orleans">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Nobody's Fault But Mine</div>
			<div class="time">6:27</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Nobody's Fault But Mine">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Candy Store Rock</div>
			<div class="time">4:10</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Candy Store Rock">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Hots On for Nowhere</div>
			<div class="time">4:42</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Hots On for Nowhere">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Tea for One</div>
			<div class="time">9:27</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Tea for One">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
					
		<script src="typeffect.js"></script>
	<script src="../../static/nav.js"></script>
	<script src="../../static/songs.js"></script>
</body>
	
	<p>&nbsp</p>
	<p>&nbsp</p>
		
	<footer>
            <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp; |&emsp; TuneVault &emsp;|&emsp; All rights reserved &emsp;|&emsp; <a href="../about.html" style="margin-bottom: 0%;">About us</a></span>
        </footer>
</html>
