<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../../static/stylesheet.css">
		<link rel="icon" href="../../static/img/sax.png" type="image/x-icon">
		<style>@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')</style>
		<title>TuneVault | Dark Side of the Moon</title>
	</head>
		
	<body>
		<nav style="font-family: Arial, Helvetica, sans-serif;">
					<a id="clicktohome" href="../home.html"><img src="../../static/img/sax_tv.png" alt="Site logo" style="height: 100px; margin-left: 50px;"></a>
        	    	<ul style="width: 60%; float: right; margin-right: 50px; text-align: center; margin-top: 20px; font-family: Courier Prime, Arial;">
        		        <li><a href="../home.html">Home</a></li>
        		        <li><a href="../artists.html">Artists</a></li>
        		        <li><a href="../search.html">Search</a></li>
        		        <li><a href="../spotlight.html">Spotlight</a></li>
       			        <li><a href="../playlist.html">Playlist</a></li>
                		<li><a href="../about.html">About Us</a></li>
            		</ul>
        	</nav>
		
		<div class="artistpage">
		<img class="cover" src="../../static/img/dsc.png" style="filter: brightness(25%)">
		<div class="artistpageTitle">THE DARK SIDE<br> OF THE MOON</div>
		<div class="artistName">Pink Floyd</div>
		<div class="albumName">The Dark Side of the Moon</div>
		<div class="imglink">../../static/img/dsotm.jpg</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Speak to Me</div>
			<div class="time">1:05</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Speak to Me">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Breath (In the Air)</div>
			<div class="time">2:49</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Breath (In the Air)">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">On the Run</div>
			<div class="time">3:45</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="On the Run">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Time</div>
			<div class="time">6:53</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Time">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">The Great Gig in The Sky</div>
			<div class="time">4:43</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="The Great Gig in The Sky">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Money</div>
			<div class="time">6:22</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Money">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Us and Them</div>
			<div class="time">7:49</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Us and Them">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Any Colour You Like</div>
			<div class="time">3:26</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Any Colour You Like">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Brain Damage</div>
			<div class="time">3:46</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Brain Damage">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Eclipse</div>
			<div class="time">2:12</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Eclipse">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
					
		<script src="typeffect.js"></script>
	<script src="../../static/nav.js"></script>
	<script src="../../static/songs.js"></script>
</body>
	
	<p>&nbsp</p>
	<p>&nbsp</p>
		
	<footer>
            <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp; |&emsp; TuneVault &emsp;|&emsp; All rights reserved &emsp;|&emsp; <a href="../about.html" style="margin-bottom: 0%;">About us</a></span>
        </footer>
</html>
