<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../../static/stylesheet.css">
		<link rel="icon" href="../../static/img/sax.png" type="image/x-icon">
		<style>@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')</style>
		<title>TuneVault | The Wall</title>
	</head>
		
	<body>
		<nav style="font-family: Arial, Helvetica, sans-serif;">
					<a id="clicktohome" href="../home.html"><img src="../../static/img/sax_tv.png" alt="Site logo" style="height: 100px; margin-left: 50px;"></a>
        	    	<ul style="width: 60%; float: right; margin-right: 50px; text-align: center; margin-top: 20px; font-family: Courier Prime, Arial;">
        		        <li><a href="../home.html">Home</a></li>
        		        <li><a href="../artists.html">Artists</a></li>
        		        <li><a href="../search.html">Search</a></li>
        		        <li><a href="../spotlight.html">Spotlight</a></li>
       			        <li><a href="../playlist.html">Playlist</a></li>
                		<li><a href="../about.html">About Us</a></li>
            		</ul>
        	</nav>
		
		<div class="artistpage">
		<img class="cover" src="../../static/img/wc.png" style="filter: brightness(10%)">
		<div class="artistpageTitle">THE WALL</div>
		<div class="artistName">Pink Floyd</div>
		<div class="albumName">The Wall</div>
		<div class="imglink">../../static/img/wall.png</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">In the Flesh?</div>
			<div class="time">3:16</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="In the Flesh?">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">The Thin Ice</div>
			<div class="time">3:27</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="The Thin Ice">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Another Brick in the Wall, Part 1</div>
			<div class="time">3:11</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Another Brick in the Wall, Part 1">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">The Happiest Days of Our Lives</div>
			<div class="time">1:46</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="The Happiest Days of Our Lives">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Another Brick in the Wall, Part 2</div>
			<div class="time">3:59</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Another Brick in the Wall, Part 2">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Mother</div>
			<div class="time">5:32</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Mother">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Goodbye Blue Sky</div>
			<div class="time">2:45</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Goodbye Blue Sky">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Empty Spaces</div>
			<div class="time">2:10</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Empty Spaces">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Young Lust</div>
			<div class="time">3:25</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Young Lust">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">One of My Turns</div>
			<div class="time">3:41</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="One of My Turns">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Don't Leave Me Now</div>
			<div class="time">4:08</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Leave Me Now">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Another Brick in the Wall, Part 3</div>
			<div class="time">1:18</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Another Brick in the Wall, Part 3">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Goodbye Cruel World</div>
			<div class="time">1:16</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Goodbye Cruel World">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Hey You</div>
			<div class="time">4:40</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Hey You">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Is Anybody Out There?</div>
			<div class="time">2:44</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Is Anybody Out There?">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Nobody Home</div>
			<div class="time">3:26</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Nobody Home">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Vera</div>
			<div class="time">1:35</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Vera">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Bring the Boys Back Home</div>
			<div class="time">1:21</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Bring the Boys Back Home">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Comforably Numb</div>
			<div class="time">6:23</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Comforably Numb">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">The Show Must Go On</div>
			<div class="time">1:36</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="The Show Must Go On">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">In the Flesh</div>
			<div class="time">4:15</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="In the Flesh">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Run Like Hell</div>
			<div class="time">4:20</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Run Like Hell">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Waiting for the Worms</div>
			<div class="time">4:04</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Waiting for the Worms">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Stop the Rain</div>
			<div class="time">0:30</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Stop the Rain">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">The Trial</div>
			<div class="time">5:13</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="The Trial">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Outside the Wall</div>
			<div class="time">1:41</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Outside the Wall">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
					
		<script src="typeffect.js"></script>
	<script src="../../static/nav.js"></script>
	<script src="../../static/songs.js"></script>
</body>
	
	<p>&nbsp</p>
	<p>&nbsp</p>
		
	<footer>
            <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp; |&emsp; TuneVault &emsp;|&emsp; All rights reserved &emsp;|&emsp; <a href="../about.html" style="margin-bottom: 0%;">About us</a></span>
        </footer>
</html>
