<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../../static/stylesheet.css">
		<link rel="icon" href="../../static/img/sax.png" type="image/x-icon">
		<style>@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')</style>
		<title>TuneVault | One Direction</title>
	</head>
		
	<body>
		
	<nav style="font-family: Arial, Helvetica, sans-serif;">
            <img src="../../static/img/sax_tv.png" alt="Site logo" style="height: 100px; margin-left: 50px;">
            <ul style="width: 40%; float: right; margin-right: 50px; text-align: center; margin-top: 20px; font-family: Courier Prime, Arial;">
                <li><a href="../home.html">Home</a></li>
                <li><a href="../artists.html">Artists</a></li>
                <li><a href="../playlist.html">Playlist</a></li>
                <li><a href="../about.html">About Us</a></li>
            </ul>
        </nav>
        		
		<div class="artistpage">
		<img class="cover" src="../../static/img/1dc.png" style="filter: brightness(25%)">
		<div class="artistpageTitle">ONE<br>DIRECTION</div>
		</div>
		
		
		<p>&nbsp</p>
		
		<div class="box">
			<img class="pic" src="../../static/img/up.jpg" align="left">
			<a href="up.html">Up All Night </a>
			<div class="year">2011</div>
			<div class="num">13</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="box">
			<img class="pic" src="../../static/img/tmh.jpg" align="left">
			<a href="tmh.html">Take Me Home</a>
			<div class="year">2012</div>
			<div class="num">13</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="box">
			<img class="pic" src="../../static/img/mm.jpg" align="left">
			<a href="mm.html">Midnight Memories</a>
			<div class="year">2013</div>
			<div class="num">14</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="box">
			<img class="pic" src="../../static/img/4.jpg" align="left">
			<a href="4.html">Four</a>
			<div class="year">2014</div>
			<div class="num">11</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="box">
			<img class="pic" src="../../static/img/am.jpg" align="left">
			<a href="am.html">Made in the A.M.</a>
			<div class="year">2015</div>
			<div class="num">13</div>
		</div>
		
		<p>&nbsp</p>
		
			
		<script src="typeffect.js"></script>
	<script src="../../static/nav.js"></script>
</body>
	
	<p>&nbsp</p>
	<p>&nbsp</p>
		
	<footer>
            <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp; |&emsp; TuneVault &emsp;|&emsp; All rights reserved &emsp;|&emsp; <a href="../about.html" style="margin-bottom: 0%;">About us</a></span>
        </footer>
</html>
