<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../../static/stylesheet.css">
		<link rel="icon" href="../../static/img/sax.png" type="image/x-icon">
		<style>@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')</style>
		<title>TuneVault | Four</title>
	</head>
		
	<body>
		<nav style="font-family: Arial, Helvetica, sans-serif;">
					<a id="clicktohome" href="../home.html"><img src="../../static/img/sax_tv.png" alt="Site logo" style="height: 100px; margin-left: 50px;"></a>
        	    	<ul style="width: 60%; float: right; margin-right: 50px; text-align: center; margin-top: 20px; font-family: Courier Prime, Arial;">
        		        <li><a href="../home.html">Home</a></li>
        		        <li><a href="../artists.html">Artists</a></li>
        		        <li><a href="../search.html">Search</a></li>
        		        <li><a href="../spotlight.html">Spotlight</a></li>
       			        <li><a href="../playlist.html">Playlist</a></li>
                		<li><a href="../about.html">About Us</a></li>
            		</ul>
        	</nav>
				
		<div class="artistpage">
		<img class="cover" src="../../static/img/4c.png" style="filter: brightness(20%)">
		<div class="artistpageTitle">FOUR</div>
		<div class="artistName">One Direction</div>
		<div class="albumName">Four</div>
		<div class="imglink">../../static/img/4.jpg</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Ready to Run</div>
			<div class="time">3:16</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Ready to Run">+</button>	
			</div>
		</div>
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Steal My Girl</div>
			<div class="time">3:48</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Steal My Girl">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Where Do Broken Hearts Go</div>
			<div class="time">3:49</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Where Do Broken Hearts Go">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">18</div>
			<div class="time">4:08</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="18">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Girl Almighty</div>
			<div class="time">3:21</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Girl Almighty">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Fool's Gold</div>
			<div class="time">3:31</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Fool's Gold">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Night Changes</div>
			<div class="time">3:46</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Night Changes">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">No Control</div>
			<div class="time">3:19</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="No Control">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Fireproof</div>
			<div class="time">2:54</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Fireproof">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Spaces</div>
			<div class="time">4:16</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Spaces">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Clouds</div>
			<div class="time">3:51</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Clouds">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
					
		<script src="typeffect.js"></script>
	<script src="../../static/nav.js"></script>
	<script src="../../static/songs.js"></script>
</body>
	
	<p>&nbsp</p>
	<p>&nbsp</p>
		
	<footer>
            <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp; |&emsp; TuneVault &emsp;|&emsp; All rights reserved &emsp;|&emsp; <a href="../about.html" style="margin-bottom: 0%;">About us</a></span>
        </footer>
</html>
