<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../../static/stylesheet.css">
		<link rel="icon" href="../../static/img/sax.png" type="image/x-icon">
		<style>@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')</style>
		<title>TuneVault | Midnight Memories</title>
	</head>
		
	<body>
		<nav style="font-family: Arial, Helvetica, sans-serif;">
					<a id="clicktohome" href="../home.html"><img src="../../static/img/sax_tv.png" alt="Site logo" style="height: 100px; margin-left: 50px;"></a>
        	    	<ul style="width: 60%; float: right; margin-right: 50px; text-align: center; margin-top: 20px; font-family: Courier Prime, Arial;">
        		        <li><a href="../home.html">Home</a></li>
        		        <li><a href="../artists.html">Artists</a></li>
        		        <li><a href="../search.html">Search</a></li>
        		        <li><a href="../spotlight.html">Spotlight</a></li>
       			        <li><a href="../playlist.html">Playlist</a></li>
                		<li><a href="../about.html">About Us</a></li>
            		</ul>
        	</nav>
				
		<div class="artistpage">
		<img class="cover" src="../../static/img/mmc.png" style="filter: brightness(15%)">
		<div class="artistpageTitle">MIDNIGHT<br>MEMORIES</div>
		<div class="artistName">One Direction</div>
		<div class="albumName">Midnight Memories</div>
		<div class="imglink">../../static/img/mm.jpg</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Best Song Ever</div>
			<div class="time">3:20</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Best Song Ever">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Story of my Life</div>
			<div class="time">4:05</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Story of my Life">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Diana</div>
			<div class="time">3:04</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Diana">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Midnight Memories</div>
			<div class="time">2:56</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Midnight Memories">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">You & I</div>
			<div class="time">3:57</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="You & I">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Don't Forget Where You Belong</div>
			<div class="time">4:01</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Don't Forget Where You Belong">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Strong</div>
			<div class="time">3:04</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Strong">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Happily</div>
			<div class="time">2:55</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Happily">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Right Now</div>
			<div class="time">3:20</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Right Now">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Little Black Dress</div>
			<div class="time">2:37</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Little Black Dress">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Through the Dark</div>
			<div class="time">3:41</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Through the Dark">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Something Great</div>
			<div class="time">3:56</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Something Great">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Little White Lies</div>
			<div class="time">3:17</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Little White Lies">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Better Than Words</div>
			<div class="time">3:28</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Better Than Words">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
					
		<script src="typeffect.js"></script>
	<script src="../../static/nav.js"></script>
	<script src="../../static/songs.js"></script>
</body>
	
	<p>&nbsp</p>
	<p>&nbsp</p>
		
	<footer>
            <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp; |&emsp; TuneVault &emsp;|&emsp; All rights reserved &emsp;|&emsp; <a href="../about.html" style="margin-bottom: 0%;">About us</a></span>
        </footer>
</html>
