<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../../static/stylesheet.css">
		<link rel="icon" href="../../static/img/sax.png" type="image/x-icon">
		<style>@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')</style>
		<title>TuneVault | Up All Night</title>
	</head>
		
	<body>
		
		<nav style="font-family: Arial, Helvetica, sans-serif;">
					<a id="clicktohome" href="../home.html"><img src="../../statcic/img/sax_tv.png" alt="Site logo" style="height: 100px; margin-left: 50px;"></a>
        	    	<ul style="width: 60%; float: right; margin-right: 50px; text-align: center; margin-top: 20px; font-family: Courier Prime, Arial;">
        		        <li><a href="../home.html">Home</a></li>
        		        <li><a href="../artists.html">Artists</a></li>
        		        <li><a href="../search.html">Search</a></li>
        		        <li><a href="../spotlight.html">Spotlight</a></li>
       			        <li><a href="../playlist.html">Playlist</a></li>
                		<li><a href="../about.html">About Us</a></li>
            		</ul>
        	</nav>
		
				
		<div class="artistpage">
		<img class="cover" src="../../static/img/upc.png" style="filter: brightness(20%)">
		<div class="artistpageTitle">UP ALL NIGHT</div>
		<div class="artistName">One Direction</div>
		<div class="albumName">Up All Night</div>
		<div class="imglink">../../static/img/up.jpg</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">What Makes You Beautiful</div>
			<div class="time">3:21</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="What Makes You Beautiful">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Gotta Be You</div>
			<div class="time">4:06</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Gotta Be You">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">One Thing</div>
			<div class="time">3:19</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="One Thing">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">More Than This</div>
			<div class="time">3:50</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="More Than This">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Up All Night</div>
			<div class="time">3:16</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Up All Night">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">I Wish</div>
			<div class="time">3:38</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="I Wish">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Tell Me A Lie</div>
			<div class="time">3:19</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Tell Me A Lie">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Taken</div>
			<div class="time">3:59</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Taken">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">I Want</div>
			<div class="time">2:55</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="I Want">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Everything About You</div>
			<div class="time">3:39</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Everything About You">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Same Mistakes</div>
			<div class="time">3:40</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Same Mistakes">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Save You Tonight</div>
			<div class="time">3:27</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Save You Tonight">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>

		<div class="ncbox">
			<div class="song">Stole My Heart</div>
			<div class="time">3:27</div>
			<div class="add-button">
				<button id="addtoplaylist" data-song="Stole My Heart">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
					
		<script src="typeffect.js"></script>
	<script src="../../static/nav.js"></script>
	<script src="../../static/songs.js"></script>
</body>
	
	<p>&nbsp</p>
	<p>&nbsp</p>
		
	<footer>
            <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp; |&emsp; TuneVault &emsp;|&emsp; All rights reserved &emsp;|&emsp; <a href="../about.html" style="margin-bottom: 0%;">About us</a></span>
        </footer>
</html>
