<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../../static/stylesheet.css">
		<link rel="icon" href="../../static/img/sax.png" type="image/x-icon">
		<style>@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')</style>
		<title>TuneVault | After Hours</title>
	</head>
		
	<body>
		<nav style="font-family: Arial, Helvetica, sans-serif;">
					<a id="clicktohome" href="../home.html"><img src="../../static/img/sax_tv.png" alt="Site logo" style="height: 100px; margin-left: 50px;"></a>
        	    	<ul style="width: 60%; float: right; margin-right: 50px; text-align: center; margin-top: 20px; font-family: Courier Prime, Arial;">
        		        <li><a href="../home.html">Home</a></li>
        		        <li><a href="../artists.html">Artists</a></li>
        		        <li><a href="../search.html">Search</a></li>
        		        <li><a href="../spotlight.html">Spotlight</a></li>
       			        <li><a href="../playlist.html">Playlist</a></li>
                		<li><a href="../about.html">About Us</a></li>
            		</ul>
        	</nav>
		
		<div class="artistpage">
		<img class="cover" src="../../static/img/ahc.png" style="filter: brightness(40%)">
		<div class="artistpageTitle">AFTER<br>HOURS</div>
		<div class="artistName">The Weeknd</div>
		<div class="albumName">After Hours</div>
		<div class="imglink">../../static/img/after_hours.jpg</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Alone Again</div>
			<div class="time">4:10</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Alone Again">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Too Late</div>
			<div class="time">3:59</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Too Late">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Hardest to Love</div>
			<div class="time">3:31</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Hardest to Love">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Scared to Live</div>
			<div class="time">3:11</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Scared to Live">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Snowchild</div>
			<div class="time">4:07</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Snowchild">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Escape from LA</div>
			<div class="time">5:55</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Escape from LA">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Heartless</div>
			<div class="time">3:21</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Heartless">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Faith</div>
			<div class="time">4:43</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Faith">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Blindiing Lights</div>
			<div class="time">3:21</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Blindiing Lights">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">In Your Eyes</div>
			<div class="time">3:57</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="In Your Eyes">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Save Your Tears</div>
			<div class="time">3:35</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Save Your Tears">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Repeat After Me (Interlude)</div>
			<div class="time">3:15</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Repeat After Me (Interlude)">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">After Hours</div>
			<div class="time">6:01</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="After Hours">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Until I Bleed Out</div>
			<div class="time">3:12</div>
			<div class="add-button">
				<button id="addtoplaylist"  "data-song="Until I Bleed Out">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Nothing Compares (Bonus Track)</div>
			<div class="time">3:42</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Nothing Compares">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Missed You (Bonus Track)</div>
			<div class="time">2:24</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Missed You">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Final Lullaby (Bonus Track) </div>
			<div class="time">3:05</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Final Lullaby">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
					
		<script src="typeffect.js"></script>
		<script src="../../static/songs.js"></script>
	<script src="../../static/nav.js"></script>
</body>
	
	<p>&nbsp</p>
	<p>&nbsp</p>
		
	<footer>
            <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp; |&emsp; TuneVault &emsp;|&emsp; All rights reserved &emsp;|&emsp; <a href="../about.html" style="margin-bottom: 0%;">About us</a></span>
        </footer>
</html>
