<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../../static/stylesheet.css">
		<link rel="icon" href="../../static/img/sax.png" type="image/x-icon">
		<style>@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')</style>
		<title>TuneVault | Beauty Behind the Madness</title>
	</head>
		
	<body>
		<nav style="font-family: Arial, Helvetica, sans-serif;">
					<a id="clicktohome" href="../home.html"><img src="../../static/img/sax_tv.png" alt="Site logo" style="height: 100px; margin-left: 50px;"></a>
        	    	<ul style="width: 60%; float: right; margin-right: 50px; text-align: center; margin-top: 20px; font-family: Courier Prime, Arial;">
        		        <li><a href="../home.html">Home</a></li>
        		        <li><a href="../artists.html">Artists</a></li>
        		        <li><a href="../search.html">Search</a></li>
        		        <li><a href="../spotlight.html">Spotlight</a></li>
       			        <li><a href="../playlist.html">Playlist</a></li>
                		<li><a href="../about.html">About Us</a></li>
            		</ul>
        	</nav>
		
		<div class="artistpage">
		<img class="cover" src="../../static/img/bbc.png" style="filter: brightness(20%)">
		<div class="artistpageTitle">BEAUTY BEHIND<br>THE MADNESS</div>
		<div class="artistName">The Weeknd</div>
		<div class="albumName">Beauty Behind the Madness</div>
		<div class="imglink">../../static/img/bbtm.jpg</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Real Life</div>
			<div class="time">3:43</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Real Life">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Losers (ft. Labrinth)</div>
			<div class="time">4:41</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Losers (ft. Labrinth)">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Tell Your Friends</div>
			<div class="time">5:34</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Tell Your Friends">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Often</div>
			<div class="time">4:09</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Often">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">The Hills</div>
			<div class="time">4:02</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="The Hills">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Acquainted</div>
			<div class="time">5:48</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Acquainted">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Can't Feel My Face</div>
			<div class="time">3:33</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Can't Feel My Face">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Shameless</div>
			<div class="time">4:13</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Shameless">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Earned It (Fifty Shades of Grey)</div>
			<div class="time">4:37</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Earned It (Fifty Shades of Grey)">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">In the Night</div>
			<div class="time">3:55</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="In the Night">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">As You Are</div>
			<div class="time">5:40</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="As You Are">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Dark TImes (ft. Ed Sheeran)</div>
			<div class="time">4:20</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Dark Times (ft. Ed Sheeran)">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Prisoner (ft. Lana Del Rey)</div>
			<div class="time">4:34</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Prisoner (ft. Lana Del Rey)">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Angel</div>
			<div class="time">6:17</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Angel">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
					
		<script src="typeffect.js"></script>
	<script src="../../static/nav.js"></script>
	<script src="../../static/songs.js"></script>
</body>
	
	<p>&nbsp</p>
	<p>&nbsp</p>
		
	<footer>
            <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp; |&emsp; TuneVault &emsp;|&emsp; All rights reserved &emsp;|&emsp; <a href="../about.html" style="margin-bottom: 0%;">About us</a></span>
        </footer>
</html>
