<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../../static/stylesheet.css">
		<link rel="icon" href="../../static/img/sax.png" type="image/x-icon">
		<style>@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')</style>
		<title>TuneVault | Echoes of Silence</title>
	</head>
		
	<body>
		<nav style="font-family: Arial, Helvetica, sans-serif;">
					<a id="clicktohome" href="../home.html"><img src="../../static/img/sax_tv.png" alt="Site logo" style="height: 100px; margin-left: 50px;"></a>
        	    	<ul style="width: 60%; float: right; margin-right: 50px; text-align: center; margin-top: 20px; font-family: Courier Prime, Arial;">
        		        <li><a href="../home.html">Home</a></li>
        		        <li><a href="../artists.html">Artists</a></li>
        		        <li><a href="../search.html">Search</a></li>
        		        <li><a href="../spotlight.html">Spotlight</a></li>
       			        <li><a href="../playlist.html">Playlist</a></li>
                		<li><a href="../about.html">About Us</a></li>
            		</ul>
        	</nav>
		
		<div class="artistpage">
		<img class="cover" src="../../static/img/eosc.png" style="filter: brightness(80%)">
		<div class="artistpageTitle">ECHOES OF<br>SILENCE</div>
		<div class="artistName">The Weeknd</div>
		<div class="albumName">Echoes of Silence</div>
		<div class="imglink">../../static/img/eos.jpg</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">D.D.</div>
			<div class="time">4:35</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="D.D.">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Montreal</div>
			<div class="time">4:10</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Montreal">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Outside</div>
			<div class="time">4:20</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Outside">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">XO / The Host</div>
			<div class="time">7:23</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="XO / The Host">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Initiation</div>
			<div class="time">4:20</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Initiation">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Same Old Song (ft. Juicy J)</div>
			<div class="time">5:12</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Same Old Song">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">The Fall</div>
			<div class="time">5:45</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="The Fall">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Next</div>
			<div class="time">6:00</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Next">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Echoes of Silence</div>
			<div class="time">4:02</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Echoes of Silence">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Till Dawn (Here Comes the Sun)</div>
			<div class="time">5:19</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Till Dawn">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
					
		<script src="../../static/songs.js"></script>
		<script src="typeffect.js"></script>
	<script src="../../static/nav.js"></script>
</body>
	
	<p>&nbsp</p>
	<p>&nbsp</p>
		
	<footer>
            <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp; |&emsp; TuneVault &emsp;|&emsp; All rights reserved &emsp;|&emsp; <a href="../about.html" style="margin-bottom: 0%;">About us</a></span>
        </footer>
</html>
