<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../../static/stylesheet.css">
		<link rel="icon" href="../../static/img/sax.png" type="image/x-icon">
		<style>@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')</style>
		<title>TuneVault | My Dear Melancholy</title>
	</head>
		
	<body>
		<nav style="font-family: Arial, Helvetica, sans-serif;">
					<a id="clicktohome" href="../home.html"><img src="../../static/img/sax_tv.png" alt="Site logo" style="height: 100px; margin-left: 50px;"></a>
        	    	<ul style="width: 60%; float: right; margin-right: 50px; text-align: center; margin-top: 20px; font-family: Courier Prime, Arial;">
        		        <li><a href="../home.html">Home</a></li>
        		        <li><a href="../artists.html">Artists</a></li>
        		        <li><a href="../search.html">Search</a></li>
        		        <li><a href="../spotlight.html">Spotlight</a></li>
       			        <li><a href="../playlist.html">Playlist</a></li>
                		<li><a href="../about.html">About Us</a></li>
            		</ul>
        	</nav>
		
		<div class="artistpage">
		<img class="cover" src="../../static/img/mdmc.png" style="filter: brightness(40%)">
		<div class="artistpageTitle">MY DEAR<br>MELANCHOLY</div>
		<div class="artistName">The Weeknd</div>
		<div class="albumName">My Dear Melancholy</div>
		<div class="imglink">../../static/img/mdm.jpg</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Call Out My Name</div>
			<div class="time">3:48</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Call Out My Name">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Try Me</div>
			<div class="time">3:41</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Try Me">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Wasted Times</div>
			<div class="time">3:40</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Wasted Times">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">I Was Never There (with Gessafelstein)</div>
			<div class="time">4:01</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="I Was Never There">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Hurt You (with Gessafelstein)</div>
			<div class="time">3:50</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Hurt You">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Privilege</div>
			<div class="time">2:50</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Privilege">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
					
		<script src="typeffect.js"></script>
	<script src="../../static/nav.js"></script>
	<script src="../../static/songs.js"></script>
</body>
	
	<p>&nbsp</p>
	<p>&nbsp</p>
		
	<footer>
            <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp; |&emsp; TuneVault &emsp;|&emsp; All rights reserved &emsp;|&emsp; <a href="../about.html" style="margin-bottom: 0%;">About us</a></span>
        </footer>
</html>
