<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../../static/stylesheet.css">
		<link rel="icon" href="../../static/img/sax.png" type="image/x-icon">
		<style>@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')</style>
		<title>TuneVault | Starboy</title>
	</head>
		
	<body>
		<nav style="font-family: Arial, Helvetica, sans-serif;">
					<a id="clicktohome" href="../home.html"><img src="../../static/img/sax_tv.png" alt="Site logo" style="height: 100px; margin-left: 50px;"></a>
        	    	<ul style="width: 60%; float: right; margin-right: 50px; text-align: center; margin-top: 20px; font-family: Courier Prime, Arial;">
        		        <li><a href="../home.html">Home</a></li>
        		        <li><a href="../artists.html">Artists</a></li>
        		        <li><a href="../search.html">Search</a></li>
        		        <li><a href="../spotlight.html">Spotlight</a></li>
       			        <li><a href="../playlist.html">Playlist</a></li>
                		<li><a href="../about.html">About Us</a></li>
            		</ul>
        	</nav>
		
		<div class="artistpage">
		<img class="cover" src="../../static/img/sbc.png" style="filter: brightness(30%)">
		<div class="artistpageTitle">STARBOY</div>
		<div class="artistName">The Weeknd</div>
		<div class="albumName">Starboy</div>
		<div class="imglink">../../static/img/starboy.jpg</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Starboy (ft. Daft Punk)</div>
			<div class="time">3:50</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Starboy (ft. Daft Punk)">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
				
		<div class="ncbox">
			<div class="song">Party Monster</div>
			<div class="time">4:09</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Party Monster">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
				
		<div class="ncbox">
			<div class="song">False Alarm</div>
			<div class="time">3:40</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="False Alarm">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
				
		<div class="ncbox">
			<div class="song">Reminder</div>
			<div class="time">3:38</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Reminder">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
				
		<div class="ncbox">
			<div class="song">Rockin'</div>
			<div class="time">3:52</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Rockin'">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
				
		<div class="ncbox">
			<div class="song">Secrets</div>
			<div class="time">4:25</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Secrets">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
				
		<div class="ncbox">
			<div class="song">True Colors</div>
			<div class="time">3:26</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="True Colors">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
				
		<div class="ncbox">
			<div class="song">Stargirl Interlude (ft. Lana Del Rey)</div>
			<div class="time">1:51</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Stargirl Interlude">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
				
		<div class="ncbox">
			<div class="song">Sidewalks (ft. Kendrick Lamar)</div>
			<div class="time">3:51</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Sidewalks">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
				
		<div class="ncbox">
			<div class="song">Six Feet Under</div>
			<div class="time">3:57</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Six Feet Under">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
				
		<div class="ncbox">
			<div class="song">Love to Lay</div>
			<div class="time">3:43</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Love to Lay">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
				
		<div class="ncbox">
			<div class="song">A Lonely Night</div>
			<div class="time">3:40</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="A Lonely Night">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
				
		<div class="ncbox">
			<div class="song">Attention</div>
			<div class="time">3:17</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Attention">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
				
		<div class="ncbox">
			<div class="song">Ordinary Life</div>
			<div class="time">3:41</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Ordinary Life">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
				
		<div class="ncbox">
			<div class="song">Nothing Without You</div>
			<div class="time">3:18</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Nothing Without You">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
				
		<div class="ncbox">
			<div class="song">All I Know (ft. Future)</div>
			<div class="time">5:21</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="All I Know (ft. Future)">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
				
		<div class="ncbox">
			<div class="song">Die for You</div>
			<div class="time">4:20</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Die for You">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
				
		<div class="ncbox">
			<div class="song">I Feel It Coming (ft. Daft Punk)</div>
			<div class="time">4:29</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="I Feel It Coming">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
					
		<script src="typeffect.js"></script>
	<script src="../../static/nav.js"></script>
	<script src="../../static/songs.js"></script>
</body>
	
	<p>&nbsp</p>
	<p>&nbsp</p>
		
	<footer>
            <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp; |&emsp; TuneVault &emsp;|&emsp; All rights reserved &emsp;|&emsp; <a href="../about.html" style="margin-bottom: 0%;">About us</a></span>
        </footer>
</html>
