<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../../static/stylesheet.css">
		<link rel="icon" href="../../static/img/sax.png" type="image/x-icon">
		<style>@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')</style>
		<title>TuneVault | The Weeknd</title>
	</head>
		
	<body>
		<nav style="font-family: Arial, Helvetica, sans-serif;">
					<a id="clicktohome" href="../home.html"><img src="../../static/img/sax_tv.png" alt="Site logo" style="height: 100px; margin-left: 50px;"></a>
        	    	<ul style="width: 60%; float: right; margin-right: 50px; text-align: center; margin-top: 20px; font-family: Courier Prime, Arial;">
        		        <li><a href="../home.html">Home</a></li>
        		        <li><a href="../artists.html">Artists</a></li>
        		        <li><a href="../search.html">Search</a></li>
        		        <li><a href="../spotlight.html">Spotlight</a></li>
       			        <li><a href="../playlist.html">Playlist</a></li>
                		<li><a href="../about.html">About Us</a></li>
            		</ul>
        	</nav>
		
		
		<div class="artistpage">
		<img class="cover" src="../../static/img/twc.png">
		<div class="artistpageTitle">THE<br>WEEKND</div>
		</div>
		
		
		<p>&nbsp</p>
		
		<div class="box">
			<img class="pic" src="../../static/img/hob.jpg" align="left">
			<a href="hob.html">House of Balloons (Mixtape)</a>
			<div class="year">2011</div>
			<div class="num">10</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="box">
			<img class="pic" src="../../static/img/thursday.jpg" align="left">
			<a href="thu.html">Thursday (Mixtape)</a>
			<div class="year">2011</div>
			<div class="num">10</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="box">
			<img class="pic" src="../../static/img/eos.jpg" align="left">
			<a href="eos.html">Echoes of Silence (Mixtape)</a>
			<div class="year">2011</div>
			<div class="num">10</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="box">
			<img class="pic" src="../../static/img/kiss_land.jpg" align="left">
			<a href="kiss.html">Kiss Land</a>
			<div class="year">2013</div>
			<div class="num">11</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="box">
			<img class="pic" src="../../static/img/bbtm.jpg" align="left">
			<a href="bbtm.html">Beauty Behind the Madness</a>
			<div class="year">2015</div>
			<div class="num">14</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="box">
			<img class="pic" src="../../static/img/starboy.jpg" align="left">
			<a href="starboy.html">Starboy</a>
			<div class="year">2016</div>
			<div class="num">18</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="box">
			<img class="pic" src="../../static/img/mdm.jpg" align="left">
			<a href="mdm.html">My Dear Melancholy (EP)</a>
			<div class="year">2018</div>
			<div class="num">6</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="box">
			<img class="pic" src="../../static/img/after_hours.jpg" align="left">
			<a href="after.html">After Hours</a>
			<div class="year">2020</div>
			<div class="num">17</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="box">
			<img class="pic" src="../../static/img/dawn_fm.jpg" align="left">
			<a href="dawn.html">Dawn FM</a>
			<div class="year">2022</div>
			<div class="num">17</div>
		</div>
		
		<p>&nbsp</p>
		
	<script src="typeffect.js"></script>
	<script src="../../static/nav.js"></script>
</body>
	
	<p>&nbsp</p>
	<p>&nbsp</p>
		
	<footer>
        <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp; |&emsp; TuneVault &emsp;|&emsp; All rights reserved &emsp;|&emsp; <a href="../about.html" style="margin-bottom: 0%;">About us</a></span>
    </footer>

</html>

