<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" href="../../static/stylesheet.css">
		<link rel="icon" href="../../static/img/sax.png" type="image/x-icon">
		<style>@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap')</style>
		<title>TuneVault | Thursday</title>
	</head>
		
	<body>
		<nav style="font-family: Arial, Helvetica, sans-serif;">
					<a id="clicktohome" href="../home.html"><img src="../../static/img/sax_tv.png" alt="Site logo" style="height: 100px; margin-left: 50px;"></a>
        	    	<ul style="width: 60%; float: right; margin-right: 50px; text-align: center; margin-top: 20px; font-family: Courier Prime, Arial;">
        		        <li><a href="../home.html">Home</a></li>
        		        <li><a href="../artists.html">Artists</a></li>
        		        <li><a href="../search.html">Search</a></li>
        		        <li><a href="../spotlight.html">Spotlight</a></li>
       			        <li><a href="../playlist.html">Playlist</a></li>
                		<li><a href="../about.html">About Us</a></li>
            		</ul>
        	</nav>
		
		<div class="artistpage">
		<img class="cover" src="../../static/img/thuc.png" style="filter: brightness(15%)">
		<div class="artistpageTitle">THURSDAY</div>
		<div class="artistName">The Weeknd</div>
		<div class="albumName">Thursday</div>
		<div class="imglink">../../static/img/thursday.jpg</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Lonely Star</div>
			<div class="time">5:49</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Lonely Star">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Life of the Party</div>
			<div class="time">4:57</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Life of the Party">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Thursday</div>
			<div class="time">5:19</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Thursday">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">The Zone (ft. Drake)</div>
			<div class="time">6:58</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="The Zone (ft. Drake)">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">The Birds, Pt. 1</div>
			<div class="time">3:34</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="The Birds, Pt. 1">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">The Birds, Pt. 2</div>
			<div class="time">5:50</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="The Birds, Pt. 2">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Gone</div>
			<div class="time">8:07</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Gone">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Rolling Stone</div>
			<div class="time">3:50</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Rolling Stone">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
		
		<div class="ncbox">
			<div class="song">Heaven or Las Vegas</div>
			<div class="time">5:53</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Heaven or Las Vegas">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p> 
		
		<div class="ncbox">
			<div class="song">Valerie</div>
			<div class="time">4:46</div>
			<div class="add-button">
				<button id="addtoplaylist" "data-song="Valerie">+</button>	
			</div>
		</div>
		
		<p>&nbsp</p>
					
		<script src="typeffect.js"></script>
	<script src="../../static/nav.js"></script>
	<script src="../../static/songs.js"></script>
</body>
	
	<p>&nbsp</p>
	<p>&nbsp</p>
		
	<footer>
            <span style="font-family: Courier Prime, Arial;">&#169 2023 &emsp; |&emsp; TuneVault &emsp;|&emsp; All rights reserved &emsp;|&emsp; <a href="../about.html" style="margin-bottom: 0%;">About us</a></span>
        </footer>
</html>
